<div class="main-div">
  <div class="container">
    <h1>My Library</h1>
    <div id="cards">
      <% @movies.each do |movie| %>
        <div class="card">
          <div><%= image_tag movie.url %></div>
          <div><%= truncate(movie.name, length: 30) %></div>
          <div>Rating: <%= movie.stars %>/10</div>
          <div>Director: <%= movie.director %></div>
          <div><%= link_to '<i class="fas fa-magnet"></i>'.html_safe, movie.magnet %> &nbsp&nbsp S: <%= movie.seed %> &nbsp&nbsp P: <%= movie.peer %> &nbsp&nbspSize: <%= movie.filesize %></div>
          <div>Provider: <%= movie.provider %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
