<div class="main-div">
  <div class="container">
    <h1><%= @movie.name %></h1>
    <% if @serie.count > 0 %>
      <% @serie.each do |episode|%>
        <div class="d-flex">
          <div><%= link_to '<i class="fas fa-magnet"></i>'.html_safe, episode.magnet %>&nbsp</div>
          <div><%= link_to '<i class="far fa-closed-captioning"></i>'.html_safe, episode.subtitle %>&nbsp&nbsp</div>
          <div>Season: <%= episode.season %>&nbsp&nbsp </div>
          <div>Episode: <%= episode.episode %>&nbsp&nbsp</div>
          <div> <%= episode.title %> </div>
        </div>
      <% end %>
    <% else %>
      <p><%= "Sorry Could not find any info..." %></p>
    <% end %>
  </div>
</div>
